.container{
    /* background-color: brown; */
    width: 100%;
    height: 100vh;
    
}

.innercontainer{
    width: 80%;
    margin: auto;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;    
}

li{
    list-style: none;
    font-family: mulish;
    font-size: 18px;
}

li:hover{
color: #1f1341;
font-weight: bold;
cursor: pointer;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.heroText{
    width: 50%;
    margin-top: 3rem;
}

.heroImaget{
    width: 50%;
    
}

.heroImage img{
    width: 100%;
}

.heroText h2{
    width: 90%;
    color:#000;
    font-family: mulish;
    font-size: 48px;

}


.heroText p{
    width: 73%;
    color:#707987;
    font-family: mulish;
    font-size: 21px;
}

.heroText button{
    border-radius: 55px;
    background: #458ff6;
    color: #fff;
    font-family: mulish;
    font-size: 18px; 
    border:none;
    padding: .7rem 2rem;

}

button:hover{
    cursor: pointer;
    background: rgb(4, 4, 83)
}

.topservices{
    text-align:center;

}

.topservices hr{
    width: 4%;
}
.topservices.h4{
    color:#000;
    font-family: mulish;
    font-size: 36px;
    

}




.topservices.p{
    color:#000;
    font-family: mulish;
    font-size: 22px;
    

}

.allcards{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    color: #7d7987;
    margin-bottom: 15px;


}

.card{
    width: 285px;
    padding: 3rem 2rem;
    border-radius: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}

.card h5{
    color: #000;
    font-family: mulish;
    font-size: 24px;

}
.card p{
    color: #707987;
    font-family: mulish;
    font-size: 16px;
    width: 98%

}
.allcards2{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    color: #7d7987;

}

.card{
    width: 285px;
    padding: 3rem 2rem;
    border-radius: 20px;
    background: #fff;
    box-shadow: #458ff6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3rem 2rem;
    


}

.card h5{
    color: #000;
    font-family: mulish;
    font-size: 24px;

}
.card p{
    color: #707987;
    font-family: mulish;
    font-size: 16px;
    width: 98%

}

.consult{
    height: 30%
}

.btn button{
    border-radius: 60px;
    margin-top: 5rem;
    color: rgb(233, 227, 227);
    font-family: mulish;
    font-size: 18px; 
    padding: .7rem 2rem;
    align-items: center;
    cursor: pointer;
    width: px;
    height: 40px;
}

.btn{
    margin: auto;
    width: 200px;
    height: 40px;
}

.image1 img{
    position: absolute;
    z-index: -1;
    margin-left: -9rem;
    margin-top: -3rem;
}

.healthcare{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;

}

.healthimage img{
    width: 80%;
}

.healthtext{
    width: 40%;
}

.healthimage{
    width: 50%;
}

.healthtext h2{
    color: black;
    font-family: mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.healthtext p{
    color: #707987;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 83%
}

.healthtext h2{
    width: 90%;
}



.horizontal{
    width: 20px
    
}

.horizontal hr{
    
    border-radius: 10%;
    background: black;
    color: black;
    height: 1px;
}

.healthtext button{
    border-radius: 60px;
    /* margin-top: 5rem; */
    color: rgb(233, 227, 227);
    font-family: mulish;
    font-size: 18px; 
    padding: .7rem 2rem;
    align-items: center;
    cursor: pointer;
    width: px;
    height: 40px;

}

.download{
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.customer{
    background-color: skyblue;
    border-radius: 24px;;
    width: 100%;
    padding-top: 35px;
}

.topcustomer{
    text-align: center;
}

.topcustomer h2{
    color: white;
    font-family: mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}


.topcustomer hr{
    width: 56px;
    height: 2px;
    border-radius: 10px;
    color: white;
    background: white;
}

.maincustomer{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding: 0 3rem;
    margin-top: 3rem;
}

.profile{
    display: flex;
    /* justify-content: space-between; */
    /* width:40px */

}
.profileimage{
    margin-left: 4rem;
    margin-bottom: 4rem;

}

.profiletext{
    padding-left: 1.5rem;
    padding-top: 2.5rem;
    line-height: 5px;

}

.customertext{
    width: 50%;
    padding-left: 3;
}
    

.customertext p{
    font-family: Mulish;
    color: white;
    font-size: 19px;
    width: 80%;
    line-height: 30px;
    text-align: left;
    
}

.articlecards{
    display: flex;
    /* gap: 25px; */
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.toparticle h3{
    color: black;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
   
}

.toparticle hr{
    width: 50px;
    height: 2px;
    border-radius: 5px;
    background: black;


}
.articleimage{
    border-radius: 20px 20px 0 0;
    width: 350px;
    height: 246px;
    background-image: url(./images/IMG-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.articletext{
    /* width: 300px; */
    border-radius: 20px;
    background: white;
    box-shadow: 10 40 50 0 rgba(229, 233, 246, 0.40);
    padding: 2rem 1rem;
    padding-right: 5rem;


}
.articletext h5{
    color: black;
    font-family: Mulish;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    width:80%;
    padding-left: 2rem;
   
}

.articletext p{
    color: #707987;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    width: 80%;
    padding-left: 2rem;
}

.articletext button{
    color: #4089Ed;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border: 12px;
    background: white;
    margin-left: 2rem; 

}

.articlebtn8{
    text-align: center;
    margin-top: 4rem;
    
}

.articlebtn8 button{
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    color: #458ff6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: .7rem 3rem;
    cursor: pointer;
}

.backimage img{
    position: absolute;
    margin-top: -30rem;
    z-index: -1;
    right: 0;
}



    